# Python
__pycache__/
*.py[cod]
.env
venv/
env/

# Banco de Dados Local (Volume do Docker que definimos)
rag_postgres_data/

# IDEs
.vscode/
.idea/
research_question.json

# Ignorar PDFs de artigos
data/pdfs/*.pdf
data/backups/*
!data/backups/.gitkeep
data/docs_auxiliares/*.*
